body {
    font-family: sans-serif;
    font-size: 11pt;
}
p {
    margin: 0 0 0 0;
}
.date {
    text-align: center;
    color: #000000;
    font-weight: bold;
}
.time {
    color: #666666;
}
.sent .time {
    color: #aaaa66;
}
.delivered .time {
    color: #66bb66;
}
.name {
    color: #0066ee;
    font-weight: bold;
}
.myname {
    color: #0000bb;
    font-weight: bold;
}
.message {
    color: #000000;
}
